<h1> Contacts </h1>

<button id="loadContacts">Load Contacts</button>
<button id="addContact">Add Contact</button>
<input type="text" id="search" placeholder="First or Last Name">


<div id="results">
  <table id="contacts">
    <thead>
      <tr>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email</th>
        <th> Phone Number</th>
        <th> &nbsp;</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

<div id="contactForm">
  <fieldset>
    <legend> Add New Contact</legend>
    <form id="newContact">
      <input type="text" id="fname" placeholder="First Name"><br>
      <input type="text" id="lname" placeholder="Last Name"><br>
      <input type="text" id="email" placeholder="Email"><br>
      <input type="text" id="phone" placeholder="Phone Number"><br>
      <input type="submit" value="Create Contact">
    </form>
  </fieldset>
</div>